
body{
	text-align: center;
	background: aquamarine;
}
#drag {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #977ED2;
	margin: 1.5em auto 0;
}
#drop1{
	width: 300px;
	height: 300px;
	background:#B4F3F6;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px solid #bdc3c7;
	margin: 1em auto 0;
}
#drop2{
	width: 300px;
	height: 300px;
	background:#B4F3F6;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px solid #bdc3c7;
	margin: 1em auto 0;
}
input {
	width: 100px;
	height: 100px;
	background: lightsteelblue;
	font-style: "Times New Roman";
	font-size: 20px;
}
h1 {
	font-style: "Times New Roman";
	font-size: 80px;
}





