body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: darkcyan;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.jR3DCarouselGallery,.jR3DCarouselGallery1 {
	margin: 0 auto; /* optional - if want to center align */
}

.container {
	text-align: center;
}

.wrapper {
	padding-right: 10px;
	padding-left: 10px;
	width: 48%;
	height: 299px;
	float: left;
	overflow: auto;
	border-left: 1px solid #999;
}

.wrapper div {
	margin: 8px auto;
}
h1 {
	font-style: "Helvetica Neue";
	font-size: 80px;
}